* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* margin-left: 20px; */
}

.meal-img {
    height: 350px;
    width: 350px;
    margin-bottom: 11px;
}

.meal-details-flex {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(245, 245, 245);
}

td {
    padding: 3px;
}