* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(153, 0, 18);
}


.header-bar {
    width: 100%;
    height: 50px;
    background-color: rgb(224, 178, 183);
    position: sticky;
    top: 0px;
    z-index: 2;
}

#meal-app-name {
    font-size: 33px;
    padding-left: 10px;
    background-color: initial;
    color: rgb(153, 0, 18);
    font-weight: 500;
}

.form-favbtn-container {
    background-color: beige;
    position: sticky;
    top: 50px;
    z-index: 2;
}

.search-bar-form {
    height: 65px;
    width: 69%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.search-bar-form>input {
    width: 59%;
    height: 40px;
}

.search-bar-submit {
    margin-left: 4px;
    background-color: rgb(0, 123, 255) !important;
    color: white !important;
}

.view-favourite-button {
    width: 30%;
    display: inline-block;
    background-color: rgb(246, 88, 87) !important;
    font-size: 20px !important;
}

.favourites-icon {
    padding: 0px 9px;
    font-size: 22px;
    background-color: inherit;
}

#result-name {
    display: flex;
    justify-content: center;
    align-content: center;
}

.meal-holder-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.meal-holder-container {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    transition: opacity 1s;
}

.meal-holder-container:hover {
    background-color: papayawhip;
    transform: scale(1.02);
}

.img-container>img {
    width: 254px;
    height: 200px;
}

p {
    font-size: 20px;
    font-weight: 500;
    word-break: break-word;
    line-height: 1.9;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
}

span {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    line-height: 1.2;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.details-favourite-button-container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.abc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo {
    transition: height 3s;

}

.demo:hover {
    height: 0px;
}

button:hover {
    transform: scale(1.02);
    opacity: 0.8;
    cursor: pointer;
}

i:hover {
    transform: scale(1.2);
    opacity: 0.8;
    cursor: pointer;
}

#flashbar-container{
    position: fixed;
    top:2%;
    right: 2%;
    width: 300px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.flashbar{
    /* padding: 1.5rem 1rem; */
    padding: 2px 3px;
    margin: 0.5rem;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.7);
    color:white;
    animation: fade-in 3s ease ;
}


.flashbar span{
    float: right;
    cursor: pointer;
}


.info{
    background-color: dodgerblue;
}


.fadeout{
    animation: fade-out 1s ease 2s forwards;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
